---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Protected Astro">
  <div class="p-4 flex flex-col gap-4">
    <h2 class="text-xl font-bold">You're logged in!</h2>
    <p>Click the logout button to unset the JWT cookie</p>
    <p>
      <a href="/" class="text-blue-500 underline">To Home</a>
    </p>
    <div>
      <button id="logout" class="py-2 px-4 rounded-md bg-rose-500 text-white">
        Logout
      </button>
    </div>
  </div>
</Layout>

<script>
  document.getElementById("logout")?.addEventListener("click", () => {
    fetch("/api/logout", { method: "POST" })
      .then((res) => {
        if (!res.ok) {
          throw new Error("Not OK!");
        }
        window.location.href = "/";
      })
      .catch((error) => {
        console.warn("Fetch call failed");
        console.error(error);
      });
  });
</script>
